body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* display: flex; */
  align-items: center;
  font-family: "poppins";
  color: #615e5e;
  background-color: #ffdbc5;
  text-align: center;
  list-style-type: none;
}

.stopwatch {
  border-radius: 12px;
  padding: 2%;
  /* border: 0; */
  background-color: #eaeaea;
  margin: auto;
  border: 2px solid #39375b;
  width: 300px;
  text-align: center;
}

.time {
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #423144;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
  border: 2px solid #252a34;
  font-size: 2rem;
  color: #cf1b1b;
}

#lap {
  text-align: center;
}

button {
  margin: 50px 20px 10px;
  height: 70px;
  border-radius: 50%;
  border: 0;
  background-color: #eaeaea;
  color: #615e5e;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}
button:hover {
  color: #fff4e7;
}

.btn {
  color: #142850;
  font-size: 20px;
}
